<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
		<link rel="stylesheet" href="./stylesheets/test.css" />
	</head>
	<body>
		<div class="test-grid">
			<img src="./images/arnolfini protrait.jpg" alt="" />
			<img src="./images/Girl_with_a_Pearl_Earring.jpg" alt="" />
			<img src="./images/lady with an ermin.jpg" alt="" />
			<img src="./images/guernica.jpeg" alt="" />
			<img src="./images/mona lisa.jpg" alt="" />
			<img src="./images/penitent magdalene.jpg" alt="" />
			<img src="./images/starrynight.jpeg" alt="" />
			<img src="./images/the basket of apples.jpg" alt="" />
		</div>
	</body>
</html>
